/* Global */
body {
    background: #000;
    color: #eee;
}
h6 {
    padding-right: 40px;
}
a {
    color: #ee6e73;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.title-list ul {
    display: flex;
}
.title-list ul li {
    margin: 0 0.7rem;
}

/* Navbar */
nav {
    padding-top: 10px;
    height: 75px;
    background: #000;
}
.brand-logo {
    padding-left: 20px!important;
}

/* Pushpin */
.pushpin {
    margin-left: 1rem;
}    

/* Scrollspy */
.table-of-contents a {
    padding-left: 0; 
    margin-bottom: 0.2rem;
}
.table-of-contents a:hover {
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #ee6e73;
}
.table-of-contents a.active {
    padding-left: 0; 
    color: #eee;
    border: none;
    border-bottom: 2px solid #ee6e73;
}

/* Mouse Animation */
.mouse {
    top: 12%;
    left: 47.5%;
    position: relative;
    width: 25px;
    height: 45px;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 60px;
}
.scroll {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 10px;
    background: rgb(189, 78, 78);
    left: 50%;
    transform: translateX(-44.5%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 2s infinite;
}
@keyframes mouse {
    from {
        opacity: 1;
        top: 10px;
    }
    to {
        opacity: 0;
        top: 30px;
    }
}

/* Card */
.card-title {
    padding-right: 2rem;
    color: #000;
    font-size: 2rem!important;
    font-weight: 600!important;
}
.card-action a {
    color: rgb(0, 140, 255)!important;
    font-weight: 500!important;
}

/* Footer */
#contact {
    font-size: 1.4rem;
}

/* Breakpoints */
@media only screen and (min-width: 600px) {
    .top {  
        margin-top: 130px;
    }
    #home {
        height: 90vh;
    }
    #portfolio {
        min-height: 100vh;
    }
    #contact {
        min-height: 75vh;
    }
}
@media only screen and (min-width: 768px) {
    .pushpin {
        margin-left: -3.3rem;
    }
}
@media only screen and (min-width: 992px) {
    .pushpin {
        margin-left: -5rem;
    }
}

